APP_NAME=ApsaraHome
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=host.docker.internal
DB_PORT=5432
DB_DATABASE=afhome_db
DB_USERNAME=afhome_user
DB_PASSWORD=your-database-password

SESSION_DRIVER=redis
CACHE_STORE=redis
QUEUE_CONNECTION=sync

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=local_redis_password
REDIS_DB=0
REDIS_CACHE_DB=1

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
